@charset "utf=8";

*{
    padding: 0;
    margin: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background: linear-gradient(to right, white, #1d1d1d , white );
    color: white;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

main{
    background-color: #1d1d1d;
    max-width: 400px;
    margin: auto;
}

#vS{
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

#nome-dos-times{
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
    max-width: 400px;
}

#timeVerm{
    display: inline-block;
    color: red;
    position: relative;
    left: 22px;
}

#timeVerd{
    display: inline-block;
    color: green;
    position: relative;
    left: 170px;
}

#t-partidas{
    position: relative;
    left: 145px;
    top: -20px;
    color: rgb(0, 0, 0);
    max-width: 112px;
}

div#placar{
    display: flex;
    max-width: 760px;
    flex-direction: row;
    font-size: 18px;
    color: white;
    justify-content: space-around;
    padding-bottom: 10px;
}

div#placar-vermelho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

div#placar-verde{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

div#empate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

#artilharia-racha{
    padding: 5px;
    color: white;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    background: linear-gradient(to right, white, #1d1d1d , white );
    max-width: 400px;
}

div#artilharia{
    box-sizing: border-box;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    background-color: #1d1d1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.jogador{
    border: 1px solid lightblue;
    width: 187px;
    height: 100px;
    background-color: white;
}

div#artilharia2{
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
    max-width: 400px;
    margin: auto;
    background-color: #1d1d1d;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;}

.name-player{
    width: 90px;
    position: relative;
    top: -90px;
    left: 90px;
    font-weight: bolder;
}

div#mostrarTodos{
    margin: auto;
    max-width: 400px;
    display: flex;
    justify-content: right;
}

div#botao-MostrarTodos{
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-top: 3px;
    text-align: center;
    background-color:#1d1d1d;
    width: 100px;
}

div#botao-MostrarTodos:hover{
    cursor:pointer;
}

div#ocultar{
    margin: auto;
    max-width: 400px;
    display: none;
    justify-content: right;
}

div#botao-ocultar{
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-top: 3px;
    text-align: center;
    background-color: #1d1d1d;
    width: 100px;
    cursor:pointer;
}

div#botao-ocultar:hover{
    cursor: pointer;
}